<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title class="align-items-center">{% block title %}Pay Money{% endblock %}</title>
    {% block style %}{% endblock %}
  </head>
  <body>
  <div class="container main">
      <div class="row"><h1 style="padding-left: 450px;"></h1></div>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <h1>Pay Money</h1>
      </nav>
      <h2 style="padding-left: 450px;">Pay Money</h2>
      <ul class="list-group" id="wallet_details">

      </ul>
  </div>

  </body>
</html>
<script>

var url =""
$( document ).ready(function() {
<!--    $("#create_user").click(function(){-->
<!--      $.ajax({-->
<!--          type: "POST",-->
<!--          url: url+'init/',-->
<!--          dataType:  "JSON",-->
<!--          data: {customer_xid:create_UUID()},-->
<!--          success: function (data) {-->
<!--            localStorage.setItem("token",data.data.token );-->
<!--            localStorage.removeItem("enabled")-->
<!--            alert("user created successfully")-->
<!--            location.reload()-->
<!--          },-->
<!--          error: function (data) {-->
<!--            console.log(data,'error');-->
<!--          }-->
<!--        });-->
<!--    });-->
});

</script>